[Desktop Entry]
Type=Application
Terminal=false
Icon=elexis-logo
Name=Elexis Pre-Release Version français avec base de donées demo
Exec=/opt/elexis/Elexis3 -clean -nl fr_CH
Categories=MedicalSoftware;Office
